Flask
FormEncode
PyYAML==3.10
SQLAlchemy
argparse==1.2.1
cssmin==0.2.0
jsmin==2.1.2
logilab-astng==0.24.3
logilab-common==0.59.1
mock==1.0.1
pylint==0.28.0
Flask-Babel
Flask-Assets
nose
Flask-Cors==3.0.4